:root{
    --text-color: #2B2A29;
    --secondary-text-color: #514F4D;
    --white: #ffffff;
    --background-color: #CF3337;

}
body{
    background-image: url(back-img/back-image.png);
    margin-inline: 5rem;  
}
header{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5rem;
}
.logo{
    width: 86.44px;
    height: 11,25rem;
}
.text{
    margin-top: 6,625rem;
    margin-left: 3rem;
}
.text-1{
    margin-bottom: 0;
    font-size: 4rem;
    margin-top: 1.625rem;
    color: var(--text-color);
}
.text-2{
    margin-top: 0;
    font-size: 58px;
    color: var(--secondary-text-color);
    margin-bottom: 1.625rem;
}
